@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #a635f1;
  font-size: xx-large;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.gamecatalog {
  display: flex;
  align-items: flex-start;
}
.gamecatalog .leftcontent {
  background-color: #8c5faa;
  border-radius: 20px;
  margin: 20px auto;
  padding: 40px;
  width: 1000px;
  height: 750px;
}
.gamecatalog .rightcontent {
  margin: 20px auto;
  padding: 40px;
}
.gameprogress .progress {
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  background-color: #d6b5ec;
  height: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gameprogress h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #f2f2f2;
}
.gameprogress label {
  margin-right: 40px;
  margin-left: 10px;
}
.gameprogress input {
  height: 20px;
  width: 20px;
}

.gameinfo .labelContainer {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #e2d0ee;
}
.gameinfo h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f2f2f2;
}
.gameinfo input {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 0.5px;
  height: 30px;
  width: 550px;
}
.gameinfo button {
  height: 40px;
  width: 80px;
  background-color: #f7f7f7;
  color: #000000;
  font-size: small;
  font-weight: bold;
  border-radius: 15px;
  border-width: 0px;
}

.signin .content {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  border: 2px dotted #2e2e2e;
  border-radius: 20px;
}
.signin h1 {
  color: #7a26b3;
  font-size: xx-large;
}
.signin .label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listofgames h2 {
  margin: 20px;
}

.homepage-parent {
  display: grid;
  place-items: center;
}

.homepage {
  /* background-color: aquamarine; */
  height: 800px;
  width: 1000px;

  max-width: 100%;

  display: grid;
  grid-template: 1fr 2fr 3fr / 3fr 2fr;
  gap: 10px;
  grid-template-areas:
    "welcome welcome"
    "content1 content3"
    "content2 content3";
}

.welcome {
  background-color: coral;
  grid-area: welcome;
}

.content1 {
  background-color: darkseagreen;
  grid-area: content1;
}

.content2 {
  background-color: limegreen;
  grid-area: content2;
}

.content3 {
  background-color: silver;
  grid-area: content3;
}

@media only screen and (max-width: 1000px) {
  .homepage {
    height: 120vh;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 5fr 6fr;
    grid-template-areas:
      "welcome"
      "content1"
      "content2"
      "content3";
  }
}
