@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #a635f1;
  font-size:xx-large;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.gamecatalog .content {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  
}
.gameprogress .progress{
  border: 2px dotted #2e2e2e;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  
}
.gameprogress h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.gameprogress label {
  margin-right: 40px;
  margin-left: 10px;
}
.gameprogress input {
  height: 20px;
  width: 20px;
}

.gameinfo .labelContainer{
  border: 2px dotted #2e2e2e;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px ;
}
.gameinfo h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gameinfo input {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 0.5px;
  height: 30px;
  width: 550px;
}
.gameinfo button {
  height: 40px;
  width: 80px;
  background-color: #a635f1;
  color: #f2f2f2;
  font-size: small;
  font-weight: bold;
  border-radius: 15px;
  border-width: 0px;
}

.signin .content {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  border: 2px dotted #2e2e2e;
  border-radius: 20px;
}
.signin h1 {
  color: #7a26b3;
  font-size:xx-large;
}
.signin .label {
  margin-top: 20px;
  margin-bottom: 20px;
}